<!DOCTYPE html>
<html>
<head>
  <title>Splurty</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<!-- Header-->
	<header>
		<div class="col-xs-3">
			<div class="circle">
  				<br />
  					Hip-Hop
  				<br />
  					Quoteables  									
			</div>
		</div>

		<div class="col-xs-4 slogan">
			Splurting out some of hip-hop music's most iconic quotes
		</div>

		<div class="col-xs-5 links">
			<%= link_to "About", "#" %>
			<%= link_to "Add a quote", "#" %>			
		</div>
	</header>
	<br class= "clear"/>
	<hr />

	<div class= "container">
		<%= yield %>
	</div>

	<div class= "footer">
		<div class= "container">
			<div class= "col-xs-6">
				<%= link_to "This isn't enough, I need more hip-hop quotes", "#", :class => "next-quote" %>
			</div>
			
			<div class= "col-xs-6 footer-blurb">
				<p class= "text-muted">Designed and hacked by Larry LeSure</p>
			</div>
		</div>
	</div>
</body>
</html>
